body {
    background-image: url("paper_fibers.png");
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
}
/* Background pattern from Toptal Subtle Patterns */

.active {
    font-size: 24px;
    background-color: #4aaaa5;
    color:white;
    border-color: #cccccc;
    border-radius: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    margin: 70px;
    padding: 15px;
    overflow: hidden;
    text-decoration: none;
    
}
.right{
   position: relative;
   right:570px;
}

.topnav{
    box-sizing: border-box;
    max-width: 960px;
    position: relative;
    border:1px white solid;
    margin:0;
    padding:0;
    top:0;
    height: 25px;
    display: inline;
    background-color:#ffffff;
   
}

.abt{
    color:gray;
    font-family:Arial, Helvetica, sans-serif;
    overflow: hidden;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.container {
    box-sizing: border-box;
    background: white;
    color: slategray;
    max-width:900px;
    margin:30px;
    padding:30px;
    width: 100%
}

.abt {
    float: right;
    text-align: center;
}
.img {
    float: left;
    height: 250px;
    padding-right: 15px;
    margin: 15px;

}

.contact1,
.aboutme {
    color:#4aaaa5;
    font-size: 24px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.aboutmetext{
    line-height: 25px;
    font-size: 17px;
  
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}

  input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  footer{
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      background-color: rgb(90, 90, 90);
      color: white;
      position: fixed;
      left: 0;
      border-top: 8px solid #4aaaa5;
      bottom: 0;
      height: 20px;
      margin: auto;
      font-size: 10px;
      padding-top:20px;
      padding-bottom: 20px;
      font-family: Georgia, 'Times New Roman', Times, serif;

  }
